<head>
    <title> My blog </title>
</head>

<body>
    {% if user.is_authenticated %}
    <!-- zmienić home page na posts-->
        <a href="{% url 'blog_app:index' %}">HOME PAGE</a> --
        <a href="{% url 'blog_app:posts' %}">ALL MY POSTS</a> --
        Hello, {{user.username}}. --
        <a href = "{% url 'users:logout' %}">Log out</a> -- 
    {% else %}
        <a href="{% url 'blog_app:index' %}">HOME PAGE</a> --
        <a href = "{% url 'users:login' %}">Log in</a> -- 
        <a href = "{% url 'users:register' %}">Register</a>
    {% endif %}

    <p>


    </p>

    {% block content %}{% endblock content %}
</body>