{% extends "blog_app/base.html" %}

{% block content %}
<br>
<br>
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Breaking News
      </h3>

        {% for post in posts %}
            <div>
                <article class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.date_added}} by <a href="#">{{post.owner}}</a></p>
                <br>
                <p>{{post.text|linebreaksbr}}</p>
            </div>
        {% empty %}
            <li> No posts. </li>
        {%endfor%}    
</main>


        

    
{% endblock content %}