{% extends "blog_app/base.html" %}

{% block content %}

    <p> This is history of my learning progress. </p>

    <p>LAST POSTS</p>

    <li>
        <a href="{% url 'blog_app:new_post' %}">Add the new POST</a>
    </li>
    
    <ul>
        {% for post in posts %}
            <div>
                <p>{{post.date_added}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
            </div>
        {% empty %}
            <li> No posts. </li>
        {%endfor%}    
    </ul>

{% endblock content %}